*{
    font-family: 'Roboto Mono', monospace;
}
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenedor_pokes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3vh;
    row-gap: 5vh;
    flex-wrap: wrap;
}
.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 50vh;
    border: solid 0.5px;
    box-shadow: -5px 2.5px 5px 5px rgb(182, 182, 182);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 5px;
}

.titulo_pokes{
    font-size: 1rem;
    color: rgb(7, 8, 8);
}
.indice{
    font-size: 1rem;
}

.foto_contenedor_poke{
    transform: scale(1.5,1.5);
    background-image:url(./assets/blob.svg);
}
.foto_contenedor_poke:hover{
    animation-name: blob_change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blob_change {
    0%{
        background-image: url(./assets/blob.svg);
    }
    12.5%{
        background-image: url(./assets/blob2.svg);
    }
    25%{
        background-image: url(./assets/blob3.svg);
    }
    50%{
        background-image: url(./assets/blob4.svg);
    }
    75%{
        background-image: url(./assets/blob3.svg);
    }
    95%{
        background-image: url(./assets/blob2.svg);
    }
    100%{
        background-image: url(./assets/blob.svg);
    }
}

.sprite{
    transform:scale(0.6,0.6)
}

.stats{
    font-size: 0.9rem;
}